In [ ]:
import statistics as st                                                                 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("Given ages =",ages)
print("Sorted List ages =",sorted(ages))                                        #Sorting the given list
minimum_age=min(ages)
print('min_age =',minimum_age)                                                  #Finding the minimum age
maximum_age=max(ages)
print('max_age =',maximum_age)                                                  #Finding the maximum age
ages.append(minimum_age)
ages.append(maximum_age)                                                        #addition of both max and min to same list  
print('New List =',ages)
median_age=st.median(ages)                                                      #Using statistics,finding Median
print('Median age =',median_age)
Average_age=st.mean(ages)                                                       #Finding the Mean/average
print('Average age =',Average_age)
Range_of_ages=max(ages)-min(ages)                                               #Finding the Range(Max-Min)
print("Range of the ages =",Range_of_ages)

In [ ]:
dog={}                                                         #Creating an empty dictionary named dog
dog['Name']='Pintu'
dog['color']='Brown'
dog['breed']='German Shepherd'
dog['legs']='tall'
dog['age']='3 years'                                           #Adding name, color, breed, legs, age to the dog dictionary
print('Dog dictionary',dog)
student=dict({  'first_name'      :'Jayanth Sri Sai',          #Creating a student dictionary
                'last_name'       :'Dulla',
                'gender'          :'Male',
                'age'             :'25',                       #adding first_name, last_name, gender, age, marital status
                'maritial status' :'Unmarried',                #adding skills, country, city and address for the dictionary
                'skills'          :['Python', 'C'],
                'country'         :'India',
                'city'            :'Bhimavaram',
                'address'         :'Bank colony'})
print('Student dictionary',student)                            #printing the student dictionary
l=len(student)                                                 #length of the stduent dictionary
print('\nlength of the student dictionary =',l)
skills_value=student['skills']                                 #getting the value for skills key
print('Value of skills =', skills_value)                         
print(type(skills_value))                                      #checking the skills_value data type
skills_value.append('Java')                                    #adding on skills to the dictionary values
print('New Skills',skills_value)
print('Dictionary keys :',list(student.keys()))                #printing the dictionary keys as list
print('Dictionary values :',list(student.values()))            #printing the dictionary values as list

In [ ]:
Brothers=('Yaswanth','Bunny','Vamsi')                           #Create a tuple of sisters and brothers 
Sisters=('Pragna','Yamini')
siblings=Brothers+Sisters                                       #Joining brothers and sisters to siblings
print('Siblings:',siblings)
length=len(siblings)                                            #Number of siblings
print('Number of siblings:',length)
siblings=list(siblings)                                         #converting tuple to list to add father and mother to list
siblings.append('Satyanarayana')
siblings.append('Durga Bhavani')
Family_members=tuple(siblings                                   #converting a list back to tuple
print('Family members:',Family_members)

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('Length of the IT companies:',len(it_companies))              #Finding the length of the set it_companies
it_companies.add('Twitter')                                         #Adding 'Twitter' to it_companies
print(it_companies)  
it_companies.update(['TCS','orkut'])                                #Insert multiple IT companies to set it_companies
print(it_companies) 
it_companies.discard('TCS')                                         #Removing one of the companies from the set it_companies
print(it_companies)
# Discard is different from Remove as remove produces error if the given element is not available in the set 
# whereas Discard do not produce any error it just remains as it is.
print('A Join B:',A.union(B))                                       #Joining A and B
print('A intersection B:',A.intersection(B))                        #Finding A intersection B
print('Is A subset of B? :',A.issubset(B))
print('A disjoint set B? :',A.isdisjoint(B))
print('B disjoint set A? :',B.isdisjoint(A))
print('Join A with B :',A.union(B))
print('Join B with A :',B.union(A))
print('symmetric difference between A&B:', A.symmetric_difference(B))      #symmetric difference between A and B
del A                                                               #Deleting A and B permanently
del B
print('length of ages list :',len(age))
print('length of ages set :',len(set(age)))                         #comparing the length of the age list and the set

In [ ]:
import math                     
radius=30;                                                      #Given radius=30
_area_of_circle_=math.pi*radius**2                              #Area of circle
print('Area of the circle:',_area_of_circle_) 
_circum_of_circle_=2*math.pi*radius                             #Circumference of circle                       
print('Circumference of the circle:',_circum_of_circle_)
input_radius=float(input('Please enter the radius:'))           #input radius
Area=math.pi*input_radius**2       
print('Area of the circle:',Area)

In [ ]:
Given_string="I am a teacher and I love to inspire and teach people"
string_list=Given_string.split(' ')                #Using split methods
print(string_list)
words=set(string_list)
unique_words={}
for word in words:
    unique_words[word]=string_list.count(word)     #finding Unique words
print("Unique words: ")
for word,count in unique_words.items():
    if count==1:
        print(word)

In [ ]:
print("Name\t\tAge\tCountry\t\tCity")                             #Using a tab escape sequence
print('Asabeneh\t250\tFinland\t\tHelsinki')

In [ ]:
radius=10
Area=float(3.14*radius**2)
print("The area of a circle with radius {0} is {1} meters square.".format(radius,Area))

In [ ]:
N=int(input("Enter the number of students:"))
lb_kg=0.453592
input_list=list(input(f"Enter the {N} comma seperated values:").split(','))
print('Input List:',input_list)
output=[]
for i in range(N):
    output.append(float(input_list[i])*lb_kg)
print('Output :',output)